 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul { list-style: none; }
 fieldset { border: 0; }
 a img { border: 0; }
 .clear { clear: both; font-size: 0; height: 0; }
 a { color: #b0eeff; text-decoration: none; }
 a:hover { color: #FFFFFF; text-decoration: none; }
 body { font-family: Verdana, Geneva, sans-serif; font-size: 13px; color: #333333; margin: 0; padding: 0; background: #0c2335; }
 div.paragraph { line-height: 1.5; padding: .5em 0; }
 p { line-height: 1.5; padding: .5em 0; }
 h1, h2, h3, h4 { font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #0c2335; padding: .5em 0 .3em 0; }
 h1 { font-size: 30px; line-height: 1;  }
 h2, h3 { line-height: 1.3; color: #0c2335; }
 h4 { font-size: 14px; line-height: 1.2; }
 blockquote { font-style:italic; border-left:4px solid #ddd; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#888; }
 #container { width: 960px; margin: 0 auto 15px auto; }
 #header { width: 100%; line-height: 1; height: 110px; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #logo { padding: 25px 15px 25px 0; }
 #logo, #logo a { text-decoration: none; font-size: 30px; color: #fff; font-weight: normal; font-family: "Myriad Pro", Arial, Helvetica, sans-serif; }
 #logo { vertical-align: middle; }
 #header-top-right { vertical-align: top; padding: 0; }
 #header-top-right table { width: 1px; float: right; background: #10324d; }
 #header-bottom-right { vertical-align: bottom; padding: 0; text-align: right; }
 #navigation, #navigation ul, #navigation li { display: inline; }
 #navigation li a { display: inline-block; }
 #navigation li a { color: #fff; font-size: 12px; text-decoration: none; padding: 10px 15px; margin: 0; border: 0; outline: 0; }
 #navigation li a:hover, #navigation li#active a { color: #fff; background: #00b6e4; }
 #wsite-menus .wsite-menu li a { padding: 9px; color: #fff; background: #2293b0; border: 0; border-bottom: 1px solid #85d5ea; }
 #wsite-menus .wsite-menu li a:hover { color: #fff; background: #00b6e4; }
 #header-top-right .phone-number { padding-left: 7px; }
 #header-top-right .phone-number .wsite-text { display: block; margin: 12px 5px; color: #fff; text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 14px; white-space: nowrap; }
 #header-top-right .wsite-social { vertical-align: middle; margin: 12px 5px 12px 2px; }
 .wsite-social-item { width: 20px; height: 20px; margin: 0 0 0 3px; background-image:url(theme/social-teal.png?774385); }
 .wsite-social-facebook {background-position:0 0;}
 .wsite-social-facebook:hover {background-position:0 -20px;}
 .wsite-social-facebook:active {background-position:0 -40px;}
 .wsite-social-pinterest {background-position:-20px 0;}
 .wsite-social-pinterest:hover {background-position:-20px -20px;}
 .wsite-social-pinterest:active {background-position:-20px -40px;}
 .wsite-social-twitter {background-position:-40px 0;}
 .wsite-social-twitter:hover {background-position:-40px -20px;}
 .wsite-social-twitter:active {background-position:-40px -40px;}
 .wsite-social-linkedin {background-position:-60px 0;}
 .wsite-social-linkedin:hover {background-position:-60px -20px;}
 .wsite-social-linkedin:active {background-position:-60px -40px;}
 .wsite-social-mail {background-position:-80px 0;}
 .wsite-social-mail:hover {background-position:-80px -20px;}
 .wsite-social-mail:active {background-position:-80px -40px;}
 .wsite-social-rss {background-position:-100px 0;}
 .wsite-social-rss:hover {background-position:-100px -20px;}
 .wsite-social-rss:active {background-position:-100px -40px;}
 .wsite-social-flickr {background-position:-120px 0;}
 .wsite-social-flickr:hover {background-position:-120px -20px;}
 .wsite-social-flickr:active {background-position:-120px -40px;}
 .wsite-social-plus {background-position:-140px 0;}
 .wsite-social-plus:hover {background-position:-140px -20px;}
 .wsite-social-plus:active {background-position:-140px -40px;}
 .wsite-social-vimeo {background-position:-160px 0;}
 .wsite-social-vimeo:hover {background-position:-160px -20px;}
 .wsite-social-vimeo:active {background-position:-160px -40px;}
 .wsite-social-yahoo {background-position:-180px 0;}
 .wsite-social-yahoo:hover {background-position:-180px -20px;}
 .wsite-social-yahoo:active {background-position:-180px -40px;}
 .wsite-social-youtube {background-position:-200px 0;}
 .wsite-social-youtube:hover {background-position:-200px -20px;}
 .wsite-social-youtube:active {background-position:-200px -40px;}
 #header-top-right .search { padding-right: 7px; }
 #header-top-right .wsite-search { margin: 12px 5px; vertical-align: middle; background: transparent url(theme/searchForm-bg.png?774385) no-repeat; }
 #header-top-right .wsite-search-input { width: 150px; height: 11px; border: 0; padding: 6px 10px !important; background: none; font-family: Arial, Helvetica, sans-serif; color: #273b4a; vertical-align: middle; font-size: 12px; }
 #header-top-right .wsite-search-button { display: inline-block; vertical-align: middle; width: 39px; height: 23px; border: 0; margin: 0; padding: 0; cursor: pointer; font-size: 0; background: none; }
 #footer-wrap { background: #11324d; padding: 6px; }
 #footer { padding: 20px 25px; border: 1px solid #16456b; font-family: Verdana, Geneva, sans-serif; color: #fff; font-size: 12px; text-align: right; }
 #footer a { color: #00b6e4; }
 #footer a:hover { color: #FFFFFF; }
 #footer h1, #footer h2, #footer h3 { color: #fff; }
 #footer-right { float: right; width: 240px; text-align: right; display: none; }
 #footer blockquote { border-left:4px solid #44637d; color:#85a0b5; }
 .rights { line-height: 19px; vertical-align: middle; }
 .wsite-footer { margin-bottom: 15px; }
 #footer h2 { font-size:16px; border-bottom:1px solid #fff; padding-bottom:4px; }
 #footer hr {background:#fff !important}
 .wsite-form-container { margin-top:0px !important; text-align:left !important; }
 .wsite-footer .wsite-form-label { font-size: 1em !important; padding: 5px 0 2px 0 !important; color:#fff; }
 .wsite-footer .wsite-form-field { width:300px !important; }
 .wsite-footer .form-radio-container { font-size:1em !important; }
 .wsite-footer .wsite-form-input { font-size: 1em !important; width: 100% !important; background-color:#fff; }
 .wsite-footer .form-select { width: 100% !important; background-color:#fff; }
 #main { padding: 0; background: #fff; border-top: 4px solid #4fc1e1; margin: 0 0 15px; }
 #main a { color: #096ab9; }
 #main a:hover { color: #00b6e4; }
 #banner { width: 100%; overflow: auto; }
 #banner, #banner-left { background: #fff; padding: 0; position: relative; }
 .wsite-header { }
 #content { min-height: 400px; padding: 35px; }
 .tall-header-page .wsite-header { height: 290px; background: url(theme/banner-tall.jpg?774385) no-repeat; }
 .short-header-page .wsite-header { height: 150px; background: url(theme/banner-short.jpg?774385) no-repeat; }
 .no-header-page #banner { display: none; }
 .no-header-page .wsite-header { }
 .no-header-page #banner-top { display: none; }
 .no-header-page #banner-bot { display: none; }
 .landing-page #banner a { color: #FFFFFF; }
 .landing-page #banner a:hover { color: #00aee1; }
 .landing-page #banner { padding: 0; background: #11324d; }
 #banner-left { float: left; width: 549px; border-right: none; }
 #banner-left .wsite-header { height: 290px; background: url(theme/banner-landing.jpg?774385); }
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; }
 #banner-right { float: right; width: 355px; height: 290px; padding: 0 25px; }
 #banner-right h2 { font-size: 28px; color: #fff; padding: 0px; line-height: 28px; }
 #banner-right div.paragraph { padding: 20px 0px; line-height: 140%; font-size: 14px; color: #b0eeff; }
 #banner-right p { padding: 20px 0px; line-height: 140%; font-size: 14px; color: #b0eeff; }
 .splash-page .wsite-header { height: 130px; background: url(theme/banner-splash.jpg?774385) no-repeat; }
 .splash-page #container { width: 600px; }
 .splash-page #banner { width: 600px; }
 .splash-page #header { }
 .splash-page #header-right { }
 .splash-page .search { display: none; }
 .splash-page .phone-number { }
 .splash-page #navigation { display: none; }
 .splash-page #content { height: auto !important; min-height: 300px; }
 .splash-page #footer .wsite-social { display: none; }
 .splash-page #footer { text-align: center; }
 .wsite-form-label { display: inline-block; color: #0c2335; font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; padding: 12px 0 5px 0; }
 .form-radio-container { }
 .wsite-form-input, .wsite-search-element-input { font-family: Arial, Helvetica, sans-serif; font-size: 13px; background: #fff url(theme/field.png?774385) repeat-x; color: #333333; border: 1px solid #d1d1d1; padding: 7px 5px 6px 5px !important; line-height: 1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .form-select { background: #fff url(theme/field.png?774385) repeat-x; color: #333333; border: 1px solid #d1d1d1; padding: 3px; height: 25px; line-height: 25px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .wsite-button { color: #11324d !important; height: 34px; display: inline-block; font-size: 14px; border: none; font-weight: bold; text-decoration: none; padding: 0 10px 0 0; background: url(theme/button.png?774385) no-repeat 100% -105px; text-shadow:0 1px 0 rgba(255,255,255,0.8); }
 .wsite-button:hover { background-position: 100% -140px; }
 .wsite-button:active { background-position: 100% -175px; }
 .wsite-button-inner { color: #11324d !important; height: 34px; line-height: 34px; display: block; font-size: 14px; font-weight: bold; border: none; text-decoration: none; padding: 0 10px 0 20px; background: url(theme/button.png?774385) no-repeat 0 0; }
 .wsite-button:hover .wsite-button-inner { background-position: 0 -35px; }
 .wsite-button:active .wsite-button-inner { background-position: 0 -70px; }
 .wsite-button-large { color: #11324d !important; height: 41px; background: url(theme/button_large.png?774385) no-repeat 100% -126px; padding: 0 10px 0 0; }
 .wsite-button-large:hover { background-position: 100% -168px; }
 .wsite-button-large:active { background-position: 100% -210px; }
 .wsite-button-large .wsite-button-inner { color: #11324d !important; height: 41px; line-height: 41px; padding: 0 10px 0 20px; background: url(theme/button_large.png?774385) no-repeat 0 0; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0 -42px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0 -84px; }
 .wsite-button-large.wsite-button-highlight { color: #fff !important; background-image: url(theme/button_large_highlight.png?774385); text-shadow:0 -1px 0 rgba(0,0,0,0.6); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { color: #fff !important; background-image: url(theme/button_large_highlight.png?774385); }
 .wsite-button-highlight { background-image: url(theme/button_highlight.png?774385); color: #fff !important; text-shadow:0 -1px 0 rgba(0,0,0,0.6); }
 .wsite-button-highlight .wsite-button-inner { color: #fff !important; background-image: url(theme/button_highlight.png?774385); }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
