.followerAvatar img{
    border-radius: 4px;
    width:100%;
    box-shadow:0px 0px 5px #9d9d9d;
}

.followerspage{
    margin-top:30px;
    padding:0px;
}

.myfollowers{
    margin-bottom:10px;
    border-bottom:1px solid #e0e0e0;
    padding-bottom: 10px;
}
//

//Sidebar
.SibedarUserAvatar img{
    border-radius: 4px;
    width:160px;
    box-shadow:0px 0px 5px #9d9d9d;
    border:1px solid gray;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
//

//Post/Show/id
.postShowContent{
    margin-bottom:10px;
}

.PostShowCommentPanel{
    padding:10px;
    background-color:#F7FFFE;
}

.commentTextTime{
    font-size:12px
}

.author-image {
    border-radius: 24px;
    box-shadow: 0 3px 5px #8D8D8D;
    height: 48px;
    width: 48px;
}

.commentText{
    font-size:18px
}

.comment{
    background-color:#fff
}

.PostShowTime1{
    color:#008B66;
    float:right;
}

.commentFloat{
    float:right;
}

.PostShowTime2{
  float:right;
  color:#008B66;  
}

.PostShowInfoPanel{
    padding:10px;
    background-color:#F7FFFE;
}

.postShowImage img{
    float:left;
    margin: 7px 7px 7px 0;
    border:5px double #ddd;
    width:49%;
}

.postShowImage{
    padding:12px 0px 10px 10px;
    margin-top:-20px;
    display:block;    
}

.postShowTitle{
    text-align:center;
    font-size:40px;
    color:#008B66;
}
//

//Posts All
.usernameOnPost{
    font-size:16px;
}

.like_count{
    font-size:17px;
}

.usernameOnPost a{
    color:green;
}

.postTitle{
    font-size:25px;
}

.postFloatLeft{
    float:left;
}

.postFloatRight{
    float:right;
}

.userAvatarPost{
    padding-left:0px;
    padding-right:0px;
}

.userAvatarPost img{
    width:68px;
    border-radius: 2px;
    box-shadow:0px 0px 5px #9d9d9d;
}

.Userslikes{
    margin-top:20px;
}

.username a{
    color:green;
}
//

a.podskazka {
    position: relative; 
    text-decoration: none !important;
    font-weight:bold !important; 
}

a.podskazka:hover {
    z-index: 999;  
    color: #fff !important;
}

a.podskazka span {
    display: none; 
}

a.podskazka:hover span {
    display: block; 
    position: absolute; 
    top:2em; left:2em; 
    width:300px; 
    padding:5px; 
    background-color: #F7FFFE;
    border:1px solid #008B66;
    border-radius: 2px;
    color: #008B66; 
}
* { margin: 0; padding: 0; }			
h1 { 
	font-family: Georgia;
	font-style: italic;
	margin-bottom: 10px; 
}
h2 {
	font-family: Georgia;
	font-style: italic;
	margin: 25px 0 5px 0;
}
p { font-size: 1.2em; }		
ul li { display: inline; }
.wide {
	border-bottom: 1px #000 solid;
	width: 4000px;
}
.fleft {
	float: left; 
	margin: 0 20px 0 0; 
}
.cboth {
	clear: both; 
}
#main {
	background: #fff;
	margin: 0 auto;
	padding: 30px;
	width: 1000px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color:#018B66;
	border-color:green;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
	color:green;
  }			
.pagination > li > a,
.pagination > li > span {
	border:1px solid #ECF7F0;
	color:green;
}
body {
	padding-top: 70px;
}
#newComment{
	max-width:825px;
	max-height:100px;
}
#textNewPost{
	max-width:803px;
	max-height:300px;
}
.btn-primary{
	background-color:#00A87B;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-color:#018B66;
}
.imgPicture {
    display: inline-block;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border: 5px solid #FFFFFF;
    background: #FFFFFF;
    outline: 1px solid #CCCCCC;
    margin: 10px;
  }
  .imgPicture img {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }
  .imgPicture3 {
    display: inline-block;
    width: 350px;
    height: 250px;
    overflow: hidden;
    border: 5px solid #FFFFFF;
    background: #FFFFFF;
    outline: 1px solid #CCCCCC;
    margin: 10px;
  }
  .imgPicture3 img {
    width: 350px;
    border: none;
    margin: 0;
    padding: 0;
  }

.navbar{
	min-height: 42px;
}
a{
    color:#008B66;
}  
a:hover,
a:focus{
   color:#005841;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #008B66;
  color:#fff;
}

.navbar-inverse .navbar-brand{
    color:#fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus{
    color:#ECECEC;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color:#ECECEC;
}
.wrap{
	box-shadow:0px 0px 4px #efefef;
	border:1px solid #e0e0e0;
	padding-top:15px;
	background-color:#fefeff;
}
.container{ 
  min-width:1024px;
}
.avatar{
	width: 200px; 
	float:right;
}
.col-sm-9{
	width:75%;
}
.col-sm-3{
	width:25%;
}
.info {
	background: #f5f5f5;
	padding: 8px 15px;
	color: #999;
	margin-bottom: 1em;
	overflow: hidden;
}
.info li {
	display: inline;
	list-style: none;
	float: left;
	margin-right: 15px;
}
.postsProfil{
	width:100%;	
}
.conte{
	margin-top:5px;
}
.panel-heading{
	margin-bottom:5px;
	padding:0px;
}

.modal-content{
	margin-top:20px;
	padding-left:40px;
	padding-right:40px;
}
.righ{
	float:right;
}
p{
	margin-bottom:0px;
}
.newpost{
	width:80%;
	float:left;
}
.profil{
	width:80%;
	float:left;
}
.text{
	text-align:justify;
	font-family:Times new roman;
	font-size:17px;
	margin-left:40px;
	margin-right:40px;
}
.footer {
	border-top: 1px solid #ddd;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 30px;
}
.pp_content_container{
	background-color:white;
}
.pp_top{
	background-color:white;
}
.pp_right{
	padding-right:8px;
}
.pp_hoverContainer{
	border:1px solid #ECF7F0;
}
#shadow{
			
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:140%;
			background-color:black;
			opacity:0.2;
			filter:alpha(opacity:40);
			display:none;
		}
#contact{
			position:absolute;
			top:0px;
			left:0px;
			background-repeat:no-repeat;
			background-position:center center;
			display:none;
		}
.imge{
	border:1px solid gray;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	width:110px;
	height:100px;
}
form.upload_image {
    display: none;
}

#post_images {
    overflow: hidden;
    margin-top: 5px;
    margin-bottom:10px;
}

#post_images div {
    position: relative;
    float: left;
    margin-right: 5px;
}

.post_images {
    overflow: hidden;
}
.post_images div {
    float: left;
    margin-right: 5px;
}

#post_images div:last-of-type {
   /* margin-right: 0; */
}

#post_images span.delete_button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 0;
}

#post_images span.delete_button span.delete {
    background: url("../img/remove.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    cursor: pointer;
    height: 16px;
    opacity: 0.6;
    width: 16px;
}

#post_images span.delete_button:hover span.delete {
    opacity: 0.8;
}
#createdpost{
    display: none;
}
#createdcomment{
    display: none;
}

.form-group {
    position: relative;
}

.help-block {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0 5px;
}

#my-form-alert {
    float: right;
    width: 400px;
    margin: 0;
    padding: 6px 12px;
}
